body {
    margin: 0;
    padding: 0;
}
.smiley1 {
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid #442200;
}
.eyes1:before,.eyes1:after {
    content: "";
    position: absolute;
    top: 30%;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    transition: 0.5s;
}
.eyes1:before {
    left: 25%;
}
.eyes1:after {
    right: 25%;
}
.smiley1:hover .eyes1:before, .smiley1:hover .eyes1:after {
    width: 30px;
    height: 50px;
}
.lips1 {
    position: absolute;
    width: 100px;
    height: 100px;
    border:  6px solid transparent;
    border-bottom: 10px solid;
    border-radius: 0%;
    transition: 0.5s;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.smiley1:hover .lips1 {
    width: 130px;
    border-radius: 50%;
}


/* For Smiley 2*/
.smiley2 {
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid #442200;
}
.eyes2:before,.eyes2:after {
    content: "";
    position: absolute;
    top: 30%;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    transition: 0.5s;
}
.eyes2:before {
    left: 25%;
}
.eyes2:after {
    right: 25%;
}
.smiley2:hover .eyes2:before, .smiley2:hover .eyes2:after {
    width: 30px;
    height: 50px;
}
.lips2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border:  6px solid transparent;
    border-top: 10px solid;
    border-radius: 0%;
    transition: 0.5s;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.smiley2:hover .lips2 {
    width: 130px;
    border-radius: 50%;
}